<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
      <%- include('_navbar') %>
    <div class="container mt-3">
        <h1>Tahukah kamu?</h1>
        <p>Makanan fresh food adalah makanan yang belum mengalami proses pengawetan seperti penggaraman, pengeringan, pengasapan, atau pengolahan panjang lainnya yang dapat memperpanjang masa simpan makanan. 
            Artinya, makanan segar tidak memiliki tambahan bahan kimia atau proses yang dapat mengurangi nilai gizi dan rasa alami makanan tersebut. Sebaliknya, makanan segar lebih mempertahankan tekstur, rasa, warna, dan nutrisi asli bawaannya.   
            Ada beragam jenis makanan segar yang bisa ditemukan, mulai dari sayuran yang baru dipanen, buah-buahan, daging segar, ikan segar, hingga susu mentah yang belum dipasteurisasi. </p>
        <div class="row"> 
          <% data.forEach(el => { %>
            <div class="col-md-4 mb-4"> 
              <div class="card h-100"> 
                <img src="<%= el.imageUrl %>" class="card-img-top" alt="<%= el.name %>">
                <div class="card-body">
                  <h5 class="card-title"><%= el.name %></h5>
                  <p class="card-text"><%= el.description %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text font-weight-bold">Rp<%= el.price %></p>
                    <p class="card-text">Stock: <strong><%= el.stock %></strong></p>
                  </div>
                  <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
              </div>
            </div>
            <% if ((data.indexOf(el) + 1) % 3 === 0) { %> 
              </div>
              <div class="row">
            <% } %>
          <% }) %>
        </div>
      </div>
    <%- include('_bootstrap') %>
  </body>
</html>
