<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh Food</title>
</head>
<body>
    <%- include('_navbar') %>
    <div class="container">
        <p></p>
        <h1>Orders</h1>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Product</th>
                <th scope="col">Status</th>
                <th scope="col">Order Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <%data.forEach(element => { %>
                    <tr> 
                        <th scope="row"><%= element.order %></td>
                        <td><%= element.status %></td>
                        <td><%= element.date %></td>
                       <td>
                           <% if (element.Products) { %>
                               <%= element.Products.map(ea=>ea.name).join(",") %>
                           
                           <% } else { %>
                               <% } %> 
                       </td>
                       <td><a href="/ordersdetail/<%= element.id %>" type="button" class="btn btn-warning">See Details</a>
                        <% if (role === "Admin" && element.status === "Pending") { %>
                            <a href="/orders/<%= element.id %>" type="button" class="btn btn-warning">Update</a>
                        <% } %>
                    </td>
                       </tr>
             <% }) %>
            </tbody>
          </table>
    </div>
    <%- include('_bootstrap') %>
</body>
</html>